In [51]:
import pandas as pd
from sklearn.datasets import load_boston

In [52]:
boston_house = load_boston()

In [53]:
print(boston_house.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [72]:
#data: contains the information for various houses
#target: prices of the house
#feature_names: names of the features
#DESCR: describes the dataset

boston_house.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [73]:
#boston_house.target

In [74]:
boston_house_df = pd.DataFrame(data = boston_house.data, columns = boston_house.feature_names)

In [64]:
boston_house_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [67]:
boston_house_df.isnull().sum()# check missing values

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [76]:
boston_house_df['MEDV'] = boston_house.target

In [78]:
boston_house_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [80]:
X = boston_house_df.drop(['MEDV'],axis = 1)

In [81]:
Y = boston_house_df['MEDV']

In [82]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [83]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [101]:
# evaluaton on testing data
y_test_pred = lin_model.predict(X_test)

In [102]:
y_test_pred = pd.DataFrame(y_pred,columns=['Predicted value'])

In [103]:
y_test_pred.head()

   Predicted value
0        37.560692
1        32.145556
2        27.068334
3         5.666107
4        35.096983

In [104]:
Y_test.head()

226    37.6
292    27.9
90     22.6
373    13.8
273    35.2
Name: MEDV, dtype: float64

In [114]:
from sklearn import metrics
import numpy as np
print('root mean sq error for testing data:', np.sqrt(metrics.mean_squared_error(Y_test,y_test_pred)))
print('root mean sq error for training data:', np.sqrt(metrics.mean_squared_error(Y_train,y_train_predict)))

y_train_predict= lin_model.predict(X_train)

root mean sq error for testing data: 4.571962782041471
root mean sq error for training data: 4.740823080328723

In [115]:
print('mean square error for testing data:', metrics.mean_squared_error(Y_test,y_test_pred))
print('mean sq error for training data:', metrics.mean_squared_error(Y_train,y_train_predict))

mean square error for testing data: 20.90284368037238
mean sq error for training data: 22.47540347897752

In [116]:
print('absolute error for testing data;', metrics.mean_absolute_error(Y_test,y_test_pred))
print('absolute error for training data;', metrics.mean_absolute_error(Y_train,y_train_predict))

absolute error for testing data; 3.214511781299323
absolute error for training data; 3.3492492580008486